.conv-container {
    width: 100%;
    height: 100%;
    position: relative;

    .layer-selector {
        width: 100%;
        height: 100%;
    }
    .title, .expand-btn {position: absolute;}
    .title {
        bottom: 0;
        left: 0;
        font-size: 60px;
        background: linear-gradient(
            90deg,
            rgb(230, 230, 230) 80%,
            rgb(152, 152, 152)
            
        ) no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    .expand-btn {
        bottom: 5rem;
        width: 100%;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
        color: rgb(230, 230, 230);
        &:hover {
            bottom: 5.5rem;
        }
    }
}