@media screen and (min-width: 900px) {
    .model-screen-container {
        .inner-model {
            // .fc1-connect { width: 70px !important; }
            &.collapsed {
                .connect {
                    &.pred-connect { width: 105px !important }
                    &.fc1-connect { width: 70px; } 
                }
            }
            &:not(.collapsed) {
                .connect {
                    &.pred-connect { width: 135px !important }
                    &.fc1-connect { width: 85px; } 
                        
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .model-screen-container {
        .inner-model {
            &.collapsed {
                .connect {
                    &.pred-connect { width: 108px !important }
                    &.fc1-connect { width: 70px; } 
                }
                .genres { width: 120px; }
            }
            &:not(.collapsed) {
                .connect {
                    &.pred-connect { width: 138px !important }
                    &.fc1-connect { width: 100px } 
                }
                .genres { width: 225px; }
            }
        }
    }
}

// @media screen and (min-width: 1200px) {
//     .model-screen-container {
//         .inner-model {
//             .connect {
//                 width: 11%;
//                 &.pred-connect { width: 108px }
//             }
//         }
//     }
// }



.model-screen-container {
    position: relative;
    // height: calc(100vh - 2rem); <-- give space on sides (not yet optimized
    // width: calc(100vw - 2rem);
    // padding: 1rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: #4D4D4D;
    background: radial-gradient(circle, rgba(101,164,144,1) 15%, rgba(47,79,79,1) 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-model {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #2f4f4f;
        -webkit-box-shadow: 0px 0px 5px 10px #2F4F4F; 
        box-shadow: 0px 0px 15px 5px #2F4F4F;
        .section {
            width: 15%;
            height: 100%;
            align-self: flex-end;
            z-index: 1;
            transform: skewX(-5deg);
            transition: all 0.5s ease-in-out;
            &.shrink {
                height: 90%;
            }
            &:hover {
                width: 20%;
            }
        }
        .fc1 {
            height: 100%;
            align-self: flex-end;
            transition: height 0.5s ease-in-out;
            &.shrink {
                height: 90%;
            }
        }
        .connect {
            position: relative;
            height: 100%;
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            transition: all 0.5s ease-in-out;
            &.shrink {
                height: 90%;
            }
            &.fc1-connect {
                width: 90px;
                max-height: 100%;
                z-index: 0;
                img {
                    position: absolute;
                    left: -10px;
                    width: 125%;
                    max-height: 100%;
                }
            }
            &.pred-connect {
                max-height: 100%;
                width: 90px;
                img { height: 100%; }
            }
        }
        .genres {
            width: 10%;
            height: 100%;
            align-self: flex-end;
            transition: height 0.5s ease-in-out; 
            &.shrink {
                height: 90%;
            }
        }
        .expand-btn {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 2;
            cursor: pointer;
            color: #c3c3c3;
            transition: left 0.5s ease-in-out;
            &.shifted {
                left: 4rem;
            }
        }
    }
    .full, .sum {
        height: calc(100% - 2rem);
        background-color: transparent;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .full {
        position: relative;
        max-width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        .grid {
            position: relative;
            width: 200px;
            height: 100px;
            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                &.frame {
                    z-index: 1;
                }
            }
        }
        .back {
                height: 100%;
                max-width: 100%;
                z-index: 1;
        }
    }
    .sum {
        display: flex;
        height: calc(100% - 2rem);
        margin-left: 0;
        
        .connect-to-final {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                // width: 50px;
                height: 100%;
            }
        }
        .sum-genres {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
    .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: gray;
        opacity: 0.5;
    }
    .audio {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
}