.model-screen-container {
    position: relative;
    height: 93vh;
    width: 100vw;
    overflow: hidden;
    // background-color: #4D4D4D;
    background: radial-gradient(circle, rgba(101,164,144,1) 15%, rgba(47,79,79,1) 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-model {
        position: relative;
        display: flex;
        width: 60%;
        height: 60%;
        background-color: #2f4f4f;
        -webkit-box-shadow: 0px 0px 5px 10px #2F4F4F; 
        box-shadow: 0px 0px 5px 10px #2F4F4F;
        // transition: all 0.5s ease-in-out;   
        .section {
            width: 15%;
            height: 100%;
            transform: skewX(-5deg);
            transition: all .5s ease-in-out;
    
            &:first-child {
                margin-left: 4%;
            }
            &:hover {
                width: 30%;
            }
        }
        .connect {
            position: relative;
            width: 11%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            &.fc1-connect img {
                position: absolute;
                left:-20px;
                width: 116%;
                max-height: 69%;
                z-index: -1;
            }
            &.pred-connect {
                width: 15%;
            }
        }
        .genres {
            width: 10%;
        }
        .aggregate {
            height: 100%;
            width: 7%;
            border-top: 1px solid #c3c3c3;
            border-right: 1px solid #c3c3c3;
            border-bottom: 1px solid #c3c3c3;
        }
    }
    .full, .sum {
        width: 30%;
        height: calc(100% - 2rem);
        margin-right: 2rem;
        margin-left: 2rem;
        background-color: transparent;
        &.hidden {
            display: none;
        }
    }
    .full {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            &.spec {
                position: absolute;
                top: 45%;
                left: 0;
                width: 50%;
            }
        }
    }
    .sum {
        display: flex;
        height: calc(100% - 2rem);
        margin-left: 0;
        
        .connect-to-final {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                // width: 50px;
                height: 100%;
            }
        }
    }
    .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: gray;
        opacity: 0.5;
    }
    .expand-btn {
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
    }
}