<div class="model-screen-container">
    <div class="full" [@edgeContentReveal]="isExpanded">
        <img class="spec" [src]="fullImgUrl" alt="full spectrogram">
        <img class="back" src="../../assets/patches.svg" alt="patches background">
    </div>
    <div [class]="isExpanded ? 'inner-model collapsed' : 'inner-model'"
        *ngIf="!isLoading" [@collapse]="isExpanded">
        <div class="section" [ngStyle]="{'background': bgColors['bl']['input']}">
            <somaf-ws-conv-layer
                title="In"
                layer="in"
                [bgColor]="bgColors['tr']['input']">
            </somaf-ws-conv-layer>
        </div>
        <div class="section" [ngStyle]="{'background': bgColors['bl']['conv1']}">
            <somaf-ws-conv-layer
                title="Conv1"
                layer="conv1"
                [bgColor]="bgColors['tr']['conv1']"
            ></somaf-ws-conv-layer>
        </div>
        <div class="section" [ngStyle]="{'background': bgColors['bl']['conv2']}">
            <somaf-ws-conv-layer
                title="Conv2"
                layer="conv2"
                [bgColor]="bgColors['tr']['conv2']"
            ></somaf-ws-conv-layer>
        </div>
        <div class="fc1-connect connect">
                <img src="../../../../assets/conv_to_fc.svg">
        </div>
        <div class="" [ngStyle]="{'background': bgColors['fc']}">
            <somaf-ws-fc-layer
                [neurons]="neurons['fc1']"
                [isCollapsed]="isExpanded"
            ></somaf-ws-fc-layer>
        </div>
        <div class="pred-connect connect">
                <img src="../../../../assets/fc_to_pred.svg">
        </div>
        <div class="genres">
            <somaf-ws-genre-layer
                [isSum]="false"
                [neurons]="neurons['fc2']">
            </somaf-ws-genre-layer>
        </div>  
    </div>
    <div class="sum" [@edgeContentReveal]="isExpanded">
        <div class="connect-to-final">
            <img src="../../assets/sigma.svg" alt="">
        </div>
        <div class="sum-genres" *ngIf="!isLoading">
            <somaf-ws-genre-layer
                [isSum]="true"
                [neurons]="neurons['sum']"
                >
            </somaf-ws-genre-layer>
        </div> 
    </div>
    <div class="loading" *ngIf="isLoading" [@inOutAnimation]>
        <fa-icon  
            [icon]="loadingIcon"
            [spin]="true"
            size="4x"
        ></fa-icon>
    </div>
    <div class="expand-btn" (click)="toggleExpand()" >
        <fa-icon [icon]="expandIcon" *ngIf="!isExpanded" size="2x"></fa-icon>
        <fa-icon [icon]="collapseIcon" *ngIf="isExpanded" size="2x"></fa-icon>
    </div>
    <div class="audio" *ngIf="!isLoading" [@bringUpPlayer]="!isExpanded">
        <thesis-audio-player [meta]="audioMetaData"></thesis-audio-player>
    </div>
</div>
