@media screen and (min-width: 900px) {
    .model-screen-container {
        .inner-model {
            // .fc1-connect { width: 70px !important; }
            &.collapsed {
                .connect {
                    &.pred-connect { width: 105px !important }
                    &.fc1-connect { width: 70px; } 
                }
            }
            &:not(.collapsed) {
                .connect {
                    &.pred-connect { width: 135px !important }
                    &.fc1-connect { width: 85px; } 
                        
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .model-screen-container {
        .inner-model {
            &.collapsed {
                .connect {
                    &.pred-connect { width: 108px !important }
                    &.fc1-connect { width: 70px; } 
                }
                .genres { width: 120px; }
            }
            &:not(.collapsed) {
                .connect {
                    &.pred-connect { width: 138px !important }
                    &.fc1-connect { width: 100px } 
                }
                .genres { width: 225px; }
            }
        }
    }
}