@media screen and (max-width: 600px) {
    .selection-container {
        flex-direction: column;
        overflow-y: auto;
        height: 200vh;
        justify-content: flex-start !important;
        .section { overflow-y: initial !important; }
        .last{
            margin-bottom: 8rem;
        }
    }
}
:host {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.selection-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 85vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #c3c3c3;
    .section {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        overflow-y: auto;
        & > .instructions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            h1 { margin-bottom: 0; }
        }
    }
    .next {
        position: fixed;
        bottom: 0;
        height: 10%;
        width: 100%;
        background: linear-gradient(0deg, rgba(47,79,79,1) 36%, rgba(0,0,0,0) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        .btn {
            line-height: 50px;
            height: 50px;
            text-align: center;
            width: 250px;
            cursor: pointer;
            transition: all 0.5s;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-top: 2px solid #c3c3c3;
                border-right: 2px solid #c3c3c3;
            }
            .arrow-left, .arrow-right {
                transition: all 0.5s;
            }
            .arrow-left {
                transform: rotate(-135deg) translate(-20px, 20px);
            }
            .arrow-right {
                transform: rotate(45deg) translate(-20px, 20px);
            }
            &:hover .arrow-right {
                transform: rotate(45deg) translate(-10px, 10px);
            }
            &:hover .arrow-left {
                transform: rotate(-135deg) translate(-10px, 10px);
            }
        }
        .stepper {
            position: absolute;
            bottom: 40px;
            font-size: 45px;
            transition: all 0.5s;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 34px solid #e8e8e8;
                clear: both;
                left: -20px;
            }
        }
    }
    .bg {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow: hidden;
        z-index: 1;
        background: radial-gradient(circle, rgba(101,164,144,1) 15%, rgba(47,79,79,1) 85%);
    }
}
