:host{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .option {
        padding: .5rem;
        text-align: center;
        margin: .5rem 0;
        cursor: pointer;
        border-radius: 5px;

        transition: all 0.5s;
        &:hover {
            box-shadow: rgba(255, 255, 255, 0.146) 0px 0px 28px 5px;
            padding: 1rem 0.5rem;
        }
        &.selected {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 30px solid #e8e8e8;
                clear: both;
                left: 0;
            }
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 30px solid #e8e8e8;
                clear: both;
                right: 0;
            }
        }
    }
}