<div class="selection-container" [formGroup]="fg">
    <div class="section">
        <div class="instructions">
            <h1>Choose a sample file</h1>
            <p>The sample files are drawn from the validation set of the project.</p>
        </div>
        <somaf-ws-menu-selector [items]="musicOptions" formControlName="sampleFile"></somaf-ws-menu-selector>
    </div>
    <div class="section last">
        <div class="instructions">
            <h1>Choose a model</h1>
            <p>The project used 4 different models:</p>
        </div>
        <somaf-ws-menu-selector [items]="models" formControlName="model"></somaf-ws-menu-selector>
        <div class="instructions">
            <h1>Choose a transform</h1>
            <p>The models were trained to be robust to:</p>
        </div>
        <somaf-ws-menu-selector [items]="transforms" formControlName="transform"></somaf-ws-menu-selector>
    </div>
    <div class="next" *ngIf="fg.valid" [@bringUpPanel]>
        <div class="btn btn-two" (click)="submit()">
            <span class="arrow arrow-right"></span>
            <h3 class="hover-text">See results!</h3>
            <span class="arrow arrow-left"></span>
        </div>
    </div>
    <div class="bg"></div>
</div>

