/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
// @import "../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', Roboto, "Helvetica Neue", sans-serif;
    // font-weight: 200;
    font-size: 16px;
    overflow: hidden;
}
.menu-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}


.mat-primary .mat-slider-track-fill, .mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label {
    background-color: #c3c3c3 !important;
}
.mat-primary .mat-slider-focus-ring {
    background-color: green !important;

}
.mat-slider-horizontal .mat-slider-ticks {
    display: none;
    // background: yellow !important;
}
.mat-slider-track-background {
    background: #b5b5b5;
}
.mat-slider:hover .mat-slider-track-background, .mat-slider.cdk-focused .mat-slider-track-background {
    background: rgb(150, 150, 150);
}
// .mat-slider-horizontal .mat-slider-track-background, .mat-slider-track-fill, .mat-slider-thumb-container {
//     transition: none;
// }