/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
    // font-weight: 200;
    font-size: 16px;
    overflow: hidden;
}
.menu-modal {
    width: 100%;
    height: 93vh;
    position: absolute;
    top: 7vh;
    left: 0;
    z-index: 10;
}